
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" 
          content="width=device-width" />
    <title>Learn With QB</title>
</head>
<body data-ng-app="app">
    <app></app>
    <script src="~/lib/angular-route.js"></script>
    <script src="~/lib/angular.js"></script>
    <script src="~/lib/ngX.components.js"></script>
</body>
</html>
